@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-900 antialiased;
    background: #f8f9ff;
  }
}

@layer components {
  .badge {
    @apply inline-block px-2.5 py-0.5 text-xs font-mono font-light rounded-full;
  }
}
